<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3>
    About
  </h3>

  <p>欢迎进入Albus’ Pensieve —— 邓布利多的冥想盆。此博客于2018年10月30日正式启用，迁移了之前博客<a href="http://albus1993.lofter.com">邓布利多的冥想盆</a>的部分文章。本博客主要记录PhD Life，Art相关，以及一些杂七杂八的『人生感悟』。</p>

<h3>Category Cloud</h3>
{% assign categories = site.categories | sort %}
{% for category in categories %}
 <span class="site-category">
    <a href="/category/#{{ category | first | slugify }}/"
        style="font-size: {{ category | last | size  |  times: 4 | plus: 80  }}%">
            {{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
    </a>
</span>
{% endfor %}

  <h3>Tag Cloud</h3>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/#{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}

  <h3>
    Connect
  </h3>

  <ul class="list-inline">
      <li>
          <a href="mailto:xindi.w1993@gmail.com" class ="navbar-btn btn"><i class="fa fa fa-envelope-o fa-fw" style="font-size:20px;"></i> </a>
      </li>
      
      <li>
        <a href="https://www.instagram.com/albus_dumbledore_1993/" class ="navbar-btn btn"><i class="fa fa-instagram fa-fw" style="font-size:20px;"></i> </a>
      </li>
      <li>
        <a href="https://twitter.com/albus931003" class ="navbar-btn btn"><i class="fa fa-twitter fa-fw" style="font-size:20px;"></i></a>
      </li>
      <li>
        <a href="https://t.me/dumbledorerambling" class ="navbar-btn btn"><i class="fa fa-telegram fa-fw" style="font-size:20px;"></i></a>
      </li>
      <li>
        <a href="https://github.com/xindi-dumbledore" class ="navbar-btn btn"><i class="fa fa-github fa-fw" style="font-size:20px;"></i> </a>
      </li>

      <!-- <li>
        <a href="https://www.douban.com/people/60191500/" class ="navbar-btn btn"><i class="iconfont", style="font-size:20px;">&#xe662;</i>
      </li> -->

  </ul>

  <h3>
    友情链接
  </h3>

  <ul class="list-inline">
      <li>
          <a href="https://noodlehead.life/">NoodleHead</a>
      </li>
      <br>
      <li>
        <a href="https://fourhappylions.com/">四喜丸子</a>
      </li>

  </ul>


<!--   <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p> -->

<!--   <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Elle Kasai</h4>
      <div class="media-body">
        <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai">
      </div>
    </div>
  </p> -->
</div>

